*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.background{
  background-color: #f6f9fc;
  padding: 50px 0;
}
.container{
  max-width: 90%;
  margin: auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}
.c_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex{
  display: flex;
}
a{
  text-decoration: none;
  color:#000;
}
li{
  list-style: none;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
.RText{
  text-align: right;
}
.logo{
  font-size: 3rem;
  font-family: 'lobster';
  color: #000000;
  text-shadow:1.5px 1.5px rgb(68, 66, 66);
}

input, button{
  border: none;
  outline: none;
  background-color: none;
}
.row{
  width: 50%;
}
.icon_circle{
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  background-color: #f3f5f9;
  text-align: center;
  border-radius: 50%;
}
.boxShadow{
  box-shadow: rgba(43 52 69 / 10%) 0 4px 16px;
}
.discount{
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  margin: 10px;
  color: #fff;
}
/*-------category------*/
.contentWidth{
  width: 77%;
}
.category{
  width: 23%;
  box-shadow: rgba(43 52 69 / 10%) 0 4px 16px;
  height: 590px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}
.category img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category span{
  margin: 15px 15px;
  text-transform: capitalize;
}
.category .box{
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover{
    background-color: #d4d4d4;
    cursor: pointer;
}
/*-----categories---*/
.btn-primary{
  background-color: #ff4d4d;
  border-radius: 10px;
  font-weight: bold;
  padding: 13px 40px;
  color: #fff;
}
.top{
  margin-top: 80px;
}
.mtop{
  margin-top: 40px;
}

.heading i{
  color: #ff4d4d;
  margin: 10px;
}

/*-------product-------*/
.product{
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
  margin: 5px;
}
.product img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product .img{
  width: 120px;
  height: 110px;
  margin-top: 20px;
  margin-left: 15px;
}
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
.product .rate i{
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price{
  display: flex;
  justify-content: space-between;
  color: #ff4d4d;
}
.product button{
  background: #ff4d4d;
  color: #fff;
  font-size: 20px;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.product button:hover{
  background: #fff;
  color: #ff4d4d;
  cursor: pointer;
  transition: 0.3s;
}
.product-like{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;

}
.product-like label{
  background-color: #003a86;
  padding: 1px 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
}
.product-like i{
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like{
  opacity: 1;
  cursor: pointer;
}
/*------control btn-----*/
.control-btn .next,
.control-btn .prev{
  position: absolute;
  top: 100px;
  width: 50px;
  height: 50px;
  line-height: 55px;
  background: #003a86;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
}

.control-btn .prev{
  left: -20px;
}
.control-btn .next{
  right: -20px;
}
.control-btn .next i,
.control-btn .prev i{
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .next:hover,
.control-btn .prev:hover{
  cursor: pointer;
  background: #ff4d4d;
  color: #fff;
}
/*------heading-----*/
.heading .heading-left i{
  font-size: 30px;
}
.heading .heading-left h2{
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right,
.heading .heading-right i{
  color: gray;
  text-align: right;
}
/*--------categories------*/
.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
